.standart-button {
    border-radius: var(--standart-border-radius);
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background: var(--standart-asset-background);
    transition: 0.15s;
    cursor: pointer;
}

.standart-button:hover {
    transform: scale(0.98);
}

.standart-button:focus {
    outline: none;
}