.body-header {
    padding: 0 20px;
    top: 0;
    position: fixed;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--header-height);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(var(--standard-blur));
    -webkit-backdrop-filter: blur(var(--standard-blur));
    background: rgba(255, 255, 255, 0.1);
    z-index: 2;
}

.body-header * {
    user-select: none;
    -webkit-user-select: none;
}

.body-header-logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.body-header-logo-image {
    width: calc(var(--header-height) - 30px);
    cursor: pointer;
}

.body-header-logo-title {
    color: var(--header-text-color);
}

.body-header-search {
    border-radius: var(--standard-border-radius);
    padding-left: 12.5px;
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.body-header-search-input {
    border-radius: 0;
    padding-left: 0;
    width: calc(100% - 35px);
    box-shadow: none;
    background: none;
}

.body-header-search-button {
    padding-top: 3.5px;
    padding-right: 5px;
    border-radius: 0 var(--standard-border-radius) var(--standard-border-radius) 0;
    position: absolute;
    width: 37.5px;
    height: 100%;
    right: 0;
    background: none;
    transition: background-color 0.35s;
}

.body-header-search-button.active {
    cursor: pointer;
    background-color: var(--standard-asset-background);
}

.body-header-search-button-icon {
    width: 16px;
}

.body-header-button-cart {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 0;
    height: 36px;
    min-width: 36px;
}

.body-header-button-cart-image {
    width: 18px;
}

@media screen and (max-width: 550px) {
    .body-header-logo-title {
        display: none;
    }

    .body-header-search {
        width: 100%;
    }
}