.standard-input {
    border-radius: var(--standard-border-radius);
    padding: 10px;
    padding-left: 18px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.standard-input:focus {
    outline: none;
}

